@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> signInManager;


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AmazonClone</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
     @await RenderSectionAsync("csslinks", required: false)


</head>
<body>
    
  <div class="Nav">
      <div >
          <div  class="Navbar">
              <h3 id="Logo"><a href="/" class="text-light">Amazon</a></h3>
         <div class="SearchMain">
                 <div id="Searchselect">
                     <sapn>select</sapn><i class="fa-solid fa-angle-down"></i>
                 </div>
                 <input id="sreachNavBox" type="search" placeholder="Search" aria-label="Search">
                <div id="SearchIcon">
                 <i class="fa-solid fa-magnifying-glass"></i>
                 </div>
          </div>
            
                   <div class="username">@{if (signInManager.IsSignedIn(User))
                                            { 
                                              <div class="flex">
                                                <h3><i class="fa-solid fa-user"></i> hi @User.Identity.Name</h3>
                                                <div class="Cart">
                                                    <a asp-action="Logout" asp-controller="Account">Logout</a>
                                                </div>
                                              </div>
                                            }
                                        else{
                                            <div class="Cart">
                                                    <a asp-action="Login" asp-controller="Account" class="btn btn-danger">Login</a>
                                                </div>
                                             
                                           }
                                       }
                 </div>
                   
             
            </div>
        
      </div>
     
   
  </div>

       
      


   
    <div class="container">
     <nav aria-label="breadcrumb " style="margin-top:3px">
          <ol class="breadcrumb">
            @RenderSection("breadcramb",required:false)
          </ol>
     </nav>

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - AmazonClone - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
