@{
    ViewData["Title"] = "Home Page";
}
@section breadcramb{
     <li class="breadcrumb-item active" aria-current="page"><a asp-action="Index" asp-controller="Home">Home</a></li>
      


}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   
</div>
