/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */


.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
/*
============NavCenter============*/

.Nav {
    background-color: #3f4040;
    padding:0 30px;
}
#Logo {
    color:white;
    width:10%;


}
a {

    text-decoration-line:none;
 

}
    a:hover {
        text-decoration-line: none;
        color: white;
    }

    .Navbar {
        display: flex;
        padding-block: 5px;
        color: white;
        align-items: center;
    }
.SearchMain {
    width:60%;
    display:flex;
    margin:0 50px ;
}
.brder {
    
    border:2px yellow solid;



}
#sreachNavBox {
    width: calc(100% - 40px);
    height: 40px;
    border: 0;
    padding: 5px;
}
#Searchselect {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #f3f3f3;
    height: 40px;
    color: black;
    display: flex;
    padding: 2px;
    align-items: center;
}
#SearchIcon {
    width: 45px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #febd69;
    height: 40px;
    display: flex;
    align-items: center;
    color:black;
    justify-content:center;
}
   