/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
* {
box-sizing:border-box;


}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a:hover
{

   color:grey;
}




/* Provide sufficient contrast against white background */


.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
/*
============NavCenter============*/

.Nav {
    background-color: #3f4040;
    padding:0 30px;
}
#Logo {
    color:white;
    width:10%;


}

  

    .Navbar {
        display: flex;
        padding-block: 5px;
        color: white;
        align-items: center;
    }
.SearchMain {
    width: 50%;
    display: flex;
    margin: 0 50px;
    height: 40px;
    align-items:center;
}
.brder {
    border: 2px #febd69 solid;
    border-radius: 8px;
}
#sreachNavBox {
    width: calc(100% - 40px);
    height: 40px;
    border: 0;
    padding: 5px;
}
#Searchselect {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #f3f3f3;
    height: 40px;
    color: black;
    display: flex;
    padding: 2px;
    align-items: center;
    position:relative;
    border:0;

}
#SearchIcon {
    width: 45px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #febd69;
    height: 40px;
    display: flex;
    align-items: center;
    color:black;
    justify-content:center;
   
}


.Cart_container {
    display:flex;
    margin-right:30px;
    width:30%;

    align-items:center;

}
.Cart i{

font-size:40px;
margin-right:20px;


}
.UserName {
    font-size:15px;
    margin-right:5px;




}
.Cart_container .Cart {

    margin-left:5px;
    position:relative;
    

}
    .Cart_container .Cart .CartCount {
        content: "";
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: red;
        position: absolute;
        right: -3px;
        top: -3px;
        z-index: 100;
        display:flex;
        align-items:center;
        justify-content:center; 
    }
